/** {
    border: 1px solid red !important;
}*/

/*Use the code above for trouble shooting*/


/*Specifies that all elements should have padding and border
 included in the element's total width and height*/


body,
div {
  font-family: "Lato", sans-serif;
  color: #747704;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.grid {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 275px;
  display: flex;
  flex-wrap: wrap;
}


.u-logo {
  width: 20%;
  display: flex;
  align-items: flex-end;
}


.shrink-u-logo {
  width: 100%;
  max-width: 90px;
  min-width: 75px;
  display: block;
  margin: 0 0 20px 0;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.name {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: flex-end;
}


h1 {
  font-weight: 100;
  font-size: 32pt;
  text-align: right;
  display: block;
  margin-bottom: 10px;
}


h2 {
   color: #bcbbbb;
}


h3 {
  margin-bottom: 4px;
  margin-top: 6px;
}


h4 {
  font-size: 16pt;
  text-align: right;
  margin-top: 1px;
  display: block;
  margin-bottom: 20px;
}


p {
  margin-top: 0;
}


.middle-pic {
  width: 100%;
  margin: auto;
  border-top: 3px solid #bcbbbb;
  padding-top: 10px;
}


.responsive-image {
  width: 100%;
}


.featured {
  width: 100%;
}

/*Featured Work Section*/

.work-1 {
  width: calc((100% - 20px)/3);
  margin-right: 10px;
}


.work-2 {
  width: calc((100% - 20px)/3);
  margin-right: 10px;
}


.work-3 {
  width: calc((100% - 20px)/3);
  margin-right: 0px;
}


.center-text {
  text-align: center;
}

/*Media queries*/

@media only screen and (min-width: 400px) {

  .spaced {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: 650px) {

  h1 {
    font-weight: 100;
    font-size: 20pt;
  }


  h4 {
    font-size: 12pt;
  }


  .work-1,
  .work-2,
  .work-3 {
    width: 80%;
    margin: 0 auto 10px auto;
    border: 2px solid orange;
  }

}

